<div class="banner-list">
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>




<div class="my-lists col-10">
  <div class="d-flex justify-content-between mb-4">
    <h1>My movies</h1>
    <button class="button-c"> <%= link_to "Add Movie", new_list_bookmark_path(@list) %></button>
  </div>


<div class="movie-cards d-flex">
  <% @list.movies.each do |movie| %>
    <div class="movie-card">
      <%= bookmark = Bookmark.find_by(list: @list, movie: movie) %>
      <div class="col-12 mb-4">
        <div class="bg-white rounded shadow h-100">
          <%= image_tag "https://image.tmdb.org/t/p/original#{movie.poster_url}", class: "movie-img" %>
          <div class="card-movie-info p-3 rounded-bottom d-flex flex-column">
          <strong><%= movie.title %></strong> <span class="text-muted font-weight-normal"><%= movie.rating %></span>
          <small class="text-muted"><%= movie.overview %></small>
          <div class="d-flex align-items-end justify-content-between pt-4">
            <div>
              <i class="fas fa-quote-left me-2"></i><small class="flex-grow-1"><%= bookmark.comment %></small>
            </div>
            <small class="text-right flex-shrink-0"><%= link_to "Delete",
              bookmark_path(bookmark),
              data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "text-danger"
            %></small>
          </div>
        </div>
        </div>
      </div>
      <% end %>
    </div>
</div>
</div>
