<div class="form-container col-6 col-lg-4">
  <h1>Add a movie to your list</h1>

  <%= simple_form_for [@list, @bookmark] do |f| %>
    <div class="mb-3 text-white">
      <%= f.input :comment, style: "color:white" %>
    </div>
    <div class="mb-3">
      <%= f.association :movie %>
    </div>
    <div class="mb-3">
      <%= f.submit "Submit", class: "button-c p-2" %>
    </div>
  <% end %>

  <%= link_to "Go back", list_path(@list) %>
</div>
